

.DivSlika {
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DivSlika::before {
    content: "";
    background-image: url("../../../../assets/images/super.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.TextSlika {
    position: relative;
    color:black;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: #f0f0f0;
}

form div {
    margin: 10px 0; 
}

form div input{
    width: 280px;
    padding: 4px;
    height: 25px;
    border: #e9e9e9 1px solid;
}

form div textarea{
    width: 280px;
}

input[type="submit"]{
    background: rgb(90, 50, 184);
}

input:focus {
    outline: none;
    border-bottom: 3px solid rgb(133, 133, 133);
}

input:invalid {
    outline: none;
    border-bottom: 3px solid rgb(216, 0, 0);
}

textarea{
    border: solid 1px rgb(219, 219, 219);
}
