.Text{
    margin: 40px 0px;
}

.Text div{
    margin: 20px 10px;
}

.Red{
    border: solid #000000 1px;
    border-radius: 3px;
    /* background-color: rgb(255, 240, 240); */
    padding: 10px;
}

.ResForm{
    color: red;
}

@media(min-width:900px){
    .Text{
       
        width: 80%;
        margin: 50px auto;
    }
}