.Participant{
    display: inline-table;
    width: 200px;
    height: 200px;
    border: solid 1px rgb(165, 165, 165);
    margin: 30px 30px 30px 30px;
    border-radius: 150px;
    box-shadow: 5px 5px 10px #888888;
    transition: all 0.2s ease-in-out;
}
.Participant:hover{
    opacity: 0.5;
    transform: scale(1.07);
}