.Footer {
    background-color: #fff;
    color: #000;
    display: block;
    z-index: 1000;
}

.Face,
.Insta {
    margin: 20px;
    color: #000;
    transition: all .2s;
}

.Face:hover,
.Insta:hover {   
    color: #ec1d25;
}

.Social {
    margin: 30px;
    display: inline-block;
}


.Social p a {
    color: #000;
    text-decoration: none;  
    transition: all .2s;

}

.Social p a:hover {
    color: #ec1d25; 
}


.PreSocial div a {
    color: #000;
    text-decoration: none; 
    text-decoration: underline rgba(255, 255, 255, 0.552);
    
}

.PreSocial div a:hover {
    color: #ec1d25; 
    transform: rotate(1.1);
    
}


.PreSocial {
    margin-right: 100px;
    margin-left: 100px;
    line-height: 30px;
}

.Hr{
    border: 0;
    height: 3px;
    background: linear-gradient(to right,#fff,#0eb0ef, #ec1d25, #fff);
    width: 40%;
}

.AllRight{
    font-size: 13px;
    /* font-weight: 100; */
    text-align: start;
    color: grey;
    margin: 0 20px 30px 20px;
}

@media (min-width: 900px) {
    .Social {
        margin-left: 100px;
        margin-right: 100px;
    }
    .PreSocial {
        margin-right: 100px;
        margin-left: 100px;
    }
}
