.Footer {
    background-color: black;
    color: honeydew;
    display: block;
}

.Face,
.Twitter,
.Insta {
    margin: 20px;
    color: white;
    transition: all .2s;
}

.Face:hover,
.Twitter:hover,
.Insta:hover {   
    color: rgb(184, 0, 0);
}

.Social {
    margin: 30px;
    display: inline-block;
}


.Social p a {
    color: white;
    text-decoration: none;  
    transition: all .2s;

}

.Social p a:hover {
    color: rgb(184, 0, 0); 
}


.PreSocial div a {
    color:white;
    text-decoration: none; 
    text-decoration: underline rgba(255, 255, 255, 0.552);
    
}

.PreSocial div a:hover {
    color: rgb(184, 0, 0); 
    transform: rotate(1.1);
    
}


.PreSocial {
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
    line-height: 30px;
}

@media (min-width: 900px) {
    .Social {
        margin-left: 100px;
        margin-right: 100px;
    }
    .PreSocial {
        margin-right: 100px;
        margin-left: 100px;
    }
}
