.Naslov {
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    transform: skew(0, 4deg);
    padding: 10px;
    width: 90%;
    margin: auto;
}
.Hr {
    transform: skew(0, 4deg);
    border: 0;
    height: 3px;
    background: linear-gradient(to right,#fff,#0eb0ef, #ec1d25, #fff);
    width: 40%;
}

@media (max-width: 900px) {
    .Naslov {
        top: 30px;
    }

    .Hr {
        margin-top: 35px;
        margin-bottom: 70px;
    }
}

@media (min-width: 901px) {
    .Naslov {
        top: 70px;
    }
    .Hr {
        margin-top: 80px;
        margin-bottom: 70px;
    }
}
